# GIP Saúde Inteligente
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://qkevrhbxysijtlrkianb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrZXZyaGJ4eXNpanRscmtpYW5iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUxNzYxMTMsImV4cCI6MjEwMDc1MjExM30.NAQCbErR_t-3RyS-4N8LdqMjJptH5EYCoIawMfwRNP0
NEXT_PUBLIC_SUPABASE_AUTH_GOOGLE_ENABLED=true
NEXT_PUBLIC_SUPABASE_AUTH_AZURE_ENABLED=false
NEXT_PUBLIC_SUPABASE_AUTH_FACEBOOK_ENABLED=false
